*{
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    justify-content: center;
    font-weight: 700;
    margin-top: 50px;
}

body > p {
    justify-content: center;
    margin-top: 50px;
}

.d-flex {
    display: flex;
}

.card_container {
    margin: 80px 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    height: 130px;
    margin-right: 3%;
    margin-bottom: 3%;
}

.img_container {
    width: 25%;
    height: 100%;
}

img {
    width: 100%;
    height: inherit;
}

.info_container {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
}

h3 {
    font-weight: 700;
}

.imput_container {
    justify-content: center;
}

h1 {
    color: #E53170;
}

.card {
    background-color: black;
    color: white;
}

.info_container > p:last-child {
    color: #6ECBF2;
}